<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/default.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/order.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/default.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/commom.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css6/reset.css"/>
</head>
<body>
<div class="wrap my-order">
	<header class="header-top">
		<div class="fixed fixed-top">
			<div class="head" style="background:#6CCDFF">				
				<span class="l-icon" onclick="history.go(-1)"><img src="__PUBLIC__/web/img/xiangzuo.png"/></span>
				<span>转移记录</span>				
				<div class="clear"></div>				
			</div>
		</div>
	</header>
	<div class="order-wrap panes goods_wrap" style="background:#F7F4F5">

	</div>
</div>		
</body>
<script src="__PUBLIC__/web/js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
<script>
	/*初始化相关参数，请求url地址时用的$.post()方法*/
    var scroll_data = {
        'url':"{:U('xjTihuobb')}?",//如果不传token值，直接后加一个 ？，当前&后为get参数p，在后台接收处理
        'parentId':$('.goods_wrap'),//要加载的父元素DOM
        't_data':{'name1':'一些必要的判断条件1','name2':'一些必要的判断条件2','name3':'一些必要的判断条件3'}//异步要传的参数，json
    };
</script>
<script>
    var page_load = '<div class="weui-loadmore load_more" data-page="1" data-state="1" style="display: block;"><i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span></div>';
    var page_none = '<tr ><td colspan="3" style="">没有更多了</td></tr>';
    var flag = 0;
    $(function(){
        if($(document).scrollTop() == 0 && $(document).height()  ==  $(window).height()){
			/*首次打开页面加载*/
            get_page()
        }
        $(window).scroll(function() {
            //$(document).scrollTop() 获取垂直滚动的距离、$(document).scrollLeft() 这是获取水平滚动条的距离
            if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                //$('body').append('下滑了')
                get_page()
            }
        });
    })
    function get_page(){

        var load_more = scroll_data.parentId.find('.load_more');
        if(load_more.length == 0){
            scroll_data.parentId.append(page_load)
            load_more = scroll_data.parentId.find('.load_more')
        }
        // 判断上一个请求是否执行完
        var state = load_more.data('state')
        if(state == 0){return}else{load_more.data('state',0)}
        load_more.show()
        var page = load_more.data('page')
        $.post(scroll_data.url+"p="+page,scroll_data.t_data,function(data){
            str = '';
//            <p class="text-over">
//                {$v.btype}
//            </p>
//            </div>
//            <div class="price">
//                <em>￥{$v.good_danjia}</em><br />
//            <span>数量:  {$v.good_num}</span>
//            </div>
//            <div class="clear"></div>
//                </div>
//                </div></a>
//                <div class="bottom-info" style="background-color: white; border: 1px solid #eee; margin-top: -11px;border-top:none;">
//                <span class="border border-active" style="margin-right: 10px;" onclick="pj({$v.good_id})">马上评价</span>
//                </div>
            console.log(data);
            for(var i = 0;i < data.length;i++){
				str += '<div class="order-content" style="margin-top:5px; margin-bottom: 10px;margin-top:5px;border-radius:6px;">';
				str += '<div class="shop-name">订单号:  '+data[i]['time']+'<span style="margin-left:30px;">'+data[i]['atime']+'</span>&nbsp;&nbsp;&nbsp;'+data[i]['name']+'</div><div class="content">';
				str += '<img src="'+data[i]['img_url']+'"/><div class="r-infor marginright50">';
				str += '<div class="test">'+data[i]['title']+'</div>';
				str += '<p class="text-over">尺寸:'+data[i]['size']+';规格:'+data[i]['guige']+'</p></div><div class="price">';
//				str += '<em>￥'+data[i]['good_danjia']+'</em><br />';
                str += '</div><div class="clear"></div></div><div class="bottom-info" style="background-color: white; border: 0px solid red; margin-top: -11px;border-top:none;">';
                str += '<div class="order-btn" style="margin-right:20px;"><a class="ft-12" style="height:30px;padding:10px;background:#6CCDFF;" href="{:U(zhuanyiXiangQing)}?order_id='+data[i]['id']+'">查看详情</a></div></div></div>';
            }
            load_more.hide().data('page',page*1+1).before(str)
            if(data == ''){
                load_more.before(page_none)
            }else{
                load_more.data('state',1)
            }
        })
    }
</script>
<script>
	function pjContent(good_id) {
	    content = $('#good' + good_id).val();

		alert(content);
    }
</script>
</html>
