<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/shengji/css/weui.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/shengji/css/default.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/shengji/css/commom.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/shengji/css/tianjia.css"/>

</head>

<body style="background: #f8f8f8;">
<div class="wrap">
	<header class="header-top">
		<div class="fixed fixed-top">
			<div class="head">
				<span class="l-icon" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home/shengji/images/xiangzuo.png"/></span>
				<span>我要升级</span>
				<div class="clear"></div>
			</div>
		</div>
	</header>

	<form  action="{:U('setChongzhi')}" method="post" enctype="multipart/form-data">
	<div class="infor_box ">
	<div id="tixian_type1">
		<div>打款方式 : <span class="text_col">支付宝</span></div>
		<div class="zfb">支付宝账号 : <input type="text" name="alipay"  value="" placeholder="请输入支付宝账号"/></div>
		<div class="jin_e">金额 : <input type="text" name="money"  value="" placeholder="请输入支付的金额"/></div>
		<div class="date_time">日期 : <input type="text" name="time"  onclick="laydate({istime: true, format: 'YYYY-MM-DD'});" value="" placeholder="请选择日期" /></div>
		<div class="beizhu" style="display: flex;">
			<div>备注 :</div>
			<div class="bz_text"><textarea name="content" rows="" cols="" placeholder="级别、贷款、保证金"></textarea></div>
		</div>
		<div style="margin-top: 10px;">
			<p>请上传打款凭证<!--<br/>(1～2张)--></p>
			<input type="file" name="file"/>
		</div>
	</div>
	</div>
		<!--<a onclick="shengji()" id="update_btn">确认</a>-->
		<div style="width:100%;text-align:center;">
		<input style="width:130px;height:30px;margin-top:20px;border-radius:4px;" type="submit" name="确定" value="确定"/>
		</div>
	</form>
	<div class="tips">
		<p>请打款至 :</p>
		<p>支付宝账号 : 123456789</p>
		<p>如有问题可联系微信客服 : 123456</p>
	</div>
</div>
</body>
<script src="__PUBLIC__/admin/laydate/laydate.js"></script>
<script src="__PUBLIC__/home/shengji/js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/home/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script>
	/*function shengji(){
		$.ajax({
			type:"post",
			url:"{:U('setChongzhi')}",
			dataType:"json",
			data:$("#chongzhi").serialize(),
			success:function (data) {
				if(data == -2){
				    layer.msg('请上传凭证');
				}
				if(data == 0){
				    layer.msg('后台审核中');
				}
				if(data == -1){
				    layer.msg('充值失败，请稍后再试');
				}
            }
		});
	}*/
</script>
</html>
