<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/default.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/commom.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/style.css"/>
</head>
<body style="background: #F7F4F5;">
<div class="wrap">
	<header class="header-top">
		<div class="fixed fixed-top">
			<div class="head" style="background:#6CCDFF">				
				<span class="l-icon" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home/images5/xiangzuo.png"/></span>
				<span>订单详情</span>
				<div class="clear"></div>				
			</div>
		</div>		
	</header>
	<div class="order-box panes">
		<div class="pane">

		</div>
		
	</div>
</div>
</body>
<script src="__PUBLIC__/home/js5/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
<script>
</script>
<script>
	/*初始化相关参数，请求url地址时用的$.post()方法*/
    var scroll_data = {
        'url':"{:U('xjorderListbb')}?",//如果不传token值，直接后加一个 ？，当前&后为get参数p，在后台接收处理
        'parentId':$('.pane'),//要加载的父元素DOM
        't_data':{'name1':'一些必要的判断条件1','name2':'一些必要的判断条件2','name3':'一些必要的判断条件3'}//异步要传的参数，json
    };
</script>
<script>
    var page_load = '<div class="weui-loadmore load_more" data-page="1" data-state="1" style="display: block;"><i class="weui-loading"></i><span class="weui-loadmore__tips">正在加载</span></div>';
    var page_none = '<tr ><td colspan="3" style="">没有更多了</td></tr>';
    var flag = 0;
    $(function(){
        if($(document).scrollTop() == 0 && $(document).height()  ==  $(window).height()){
			/*首次打开页面加载*/
            get_page()
        }
        $(window).scroll(function() {
            //$(document).scrollTop() 获取垂直滚动的距离、$(document).scrollLeft() 这是获取水平滚动条的距离
            if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                //$('body').append('下滑了')
                get_page()
            }
        });
    })
    function get_page(){
        var load_more = scroll_data.parentId.find('.load_more');
        if(load_more.length == 0){
            scroll_data.parentId.append(page_load)
            load_more = scroll_data.parentId.find('.load_more')
        }
        // 判断上一个请求是否执行完
        var state = load_more.data('state')
        if(state == 0){return}else{load_more.data('state',0)}
        load_more.show()
        var page = load_more.data('page')
        $.post(scroll_data.url+"p="+page,scroll_data.t_data,function(data){
			console.log(data);

            var str = '';
            for(var i = 0;i < data.length;i++){
               str += ' <div class="order-list"><div class="name">订单号:'+ data[i]['time'] +'<span style="margin-left:30px;">'+data[i]['atime']+'　'+data[i]['name']+'</span></div><div class="info-box"><div class="info">';
               str += '<div class="goods-image"><img src="'+data[i]['pic_url']+'"/></div>';
               str += '<div class="r-info"><div>订单号:'+data[i]['order_sn']+'　</div><div><span><span class="ft-12">价格</span>:'+data[i]['shopmoney']+'&nbsp;</span><span> <span class="ft-12"></span></span><span>';
               str += '<span class="ft-12">商品</span>:'+data[i]['shop_name']+'　</span></div>';
               str += '</div></div><div class="order-btn">';
               str += '<a style="background:#6CCDFF" class="ft-12" href="{:U(xjfahuo)}?order_id='+data[i]['id']+'">查看详情</a>';
               str += '</div></div></div>';
            }
            load_more.hide().data('page',page*1+1).before(str)
            if(data == ''){
                load_more.before(page_none)
            }else{
                load_more.data('state',1)
            }
        })
    }
</script>
</html>
