<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/img.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/default.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/commom.css"/>
	<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/style.css"/>-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css5/style04.27.css"/>
</head>
<body>
<div class="img_container">
	<div class="img_2_box" style="width:100%;text-align:center;margin-top:50px;">
		<a style=" font-size:18px;padding:10px;width:100%;text-align:center;" href="{$data.url}">{$data.url}</a>
	</div>
<div>
</body>
</html>
