<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客服咨询</title>
</head>
<body>
<h2 style="width:100%;text-align:center;font-size:60px;margin-top:20px;">请长按图片扫描二维码</h2>
<div style="width:100%;text-align:center;">
<img src="{$kfzx.img_url}" width = "640px" height = "640px"/>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客服咨询</title>
</head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/default.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/swiper.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/xiangqing.css"/>
	<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/weui.css"/>-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/weui.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/default.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/xiangqing.css"/>
	<link rel="stylesheet" href="__PUBLIC__/shop/css/3c30a65871.layout.min.css">
<link rel="stylesheet" href="__PUBLIC__/shop/css/86fe49ca90.common.min.css">
<link rel="stylesheet" href="__PUBLIC__/shop/css/flexslider.css">
<link rel="stylesheet" href="__PUBLIC__/shop/css/basic.css">
<link rel="stylesheet" href="__PUBLIC__/shop/css/cart.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/footer.css">
<link rel="stylesheet" href="__PUBLIC__/css/ali_font/iconfont.css">
<link rel="stylesheet" href="__PUBLIC__/css/ali_font1/iconfont.css">
<!--<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css">-->
<link rel="stylesheet" href="__PUBLIC__/css/weui_old.min.css">
<body>
<div class="product_detail" style="margin-top:20px;"><!-- data-GetDetail="more"-->
	<div class="tab_content pro_detail_info">
		<div class="M_detail" style="width:1000px">
		<div style="text-align:center;margin-bottom:5px;" class="cent_text">请长按图片扫描二维码</div>
			<div class="M_detailCon">	
				<img src="{$kfzx.img_url}" width = "640px" height = "640px"/>
			</div>
		</div>
	</div>
	<div class="space10"></div>
</div>
</body>
</html>