<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/style06.09.css"/>
<style>
.yc_order{padding: 50px 20px 0;}
.yc_order a{display: block;padding: 12px;background: #fff;text-align: center;border-right: 1px #CECECE solid;border-bottom: 1px #CECECE solid;margin-bottom: 20px;}
</style>
</head>
<body style="background: #F7F4F5;">
<div class="wrap">
	<header class="header-top">
		<div class="fixed fixed-top">
			<div class="head">				
				<span class="l-icon" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home1/images/xiangzuo1.png"/></span>
				<span>云仓订单</span>				
				<div class="clear"></div>				
			</div>
		</div>		
	</header>		
	<div class="yc_order">
		<a href="{:U('Center/order')}">云仓进货订单</a>
		<a href="{:U('Center/xjTihuo')}">云仓转移订单</a>
		<a href="{:U('Center/xjorderList')}">下级订单</a>
	</div>
</div>
</body>
</html>
