<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css6/weui.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css6/default.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css6/commom.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css6/reset.css"/>
    <title></title>
</head>
<body>
<div class="wrap user-center" id="user-center">
    <header class="header-top">
        <div class="fixed fixed-top">
            <div class="head">
                <span class="l-icon" onclick="javascript:history.go(-1);"><img src="__PUBLIC__/home/images6/xiangzuo.png"/></span>
                <span>详情</span>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <div class="weui-panel__ft">
        <a href="{:U('Center/xiaji')}" class="weui-cell weui-cell_access weui-cell_link border-bottom">
            <div class="weui-cell__bd">下级会员</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>

</div>
</body>
</html>
