<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<link href="__PUBLIC__/admin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<style>.btn-default{background:#44b549;color:#fff;}</style>
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>密码修改</div>
	<div class="main-content well"  style="margin-top:30px;border:1px solid #dddddd;padding:10px 2%;">
		<form class="form-horizontal" action="__SELF__" method="post" onsubmit="return false" enctype="multipart/form-data" >
		 <div class="form-group">
			<label class="col-sm-2   col-lg-2 control-label" for="exampleInputEmail1">旧密码</label>
			<div class="col-sm-6 col-lg-4">
				<input type="text" class="form-control" name="oldpassword" value="" id="oldpassword" placeholder="">
			</div>
			
		 </div>
		 <div class="form-group">
			<label class="col-sm-2   col-lg-2 control-label" for="exampleInputEmail1">新密码</label>
			<div class="col-sm-6 col-lg-4">
				<input type="password" class="form-control" name="newpass" value="" id="new" placeholder="">
			</div>
			
		 </div>
		 <div class="form-group">
			<label class="col-sm-2   col-lg-2 control-label" for="exampleInputEmail1">重新输入密码</label>
			<div class="col-sm-6 col-lg-4">
				<input type="password" class="form-control" name="newpass1" value="" id="news" placeholder="">
			</div>
			
		 </div>
		 
		  <button type="button" onclick="setPassword()" class="btn btn-default">保存</button>
		 
		</form>
	</div>
</div>
<style>
.ccca{font-size: 18px;color:#00a2e8}
</style>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script>
	function setPassword(){
		var newPassword = $('#new').val();
		var newPassword1 = $('#news').val();
		/*var re = /[a-zA-Z]\w{5,17}/;
		if(!re.test(newPassword1)){
			layer.msg('请填写正确格式的密码');
			return;
		}*/
		var oldPassword = $("#oldpassword").val();
		if(newPassword != newPassword1){
			layer.msg('两次输入的密码不一样');
			//return false;
		}else{
			$.ajax({
				type:"post",
				url:"{:U('setPassword')}",
				dataType:"json",
				data:{
					newPassword:newPassword,
					oldPassword:oldPassword
				},
				success:function(data){
					if(data == 0){
						layer.msg('修改成功');
						setTimeout(function(){
							history.go(0);
						},1000);
					}
					if(data == -1)
					{
						layer.msg('修改失败');
					}
					if(data == -2){
						layer.msg('请输入正确的密码');
					}
				}
			});
		}
		
	}

</script>